body {
    font-family: "Myriad pro", sans-serif;
    background-color: #1f291f;
    color: #fff;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Myriad pro", sans-serif;
    src: url("../fonts/MYRIADPRO-REGULAR.OTF") format("OTF");
    font-style: normal;
    font-weight: normal;
}